appdirs==1.4.4
appnope==0.1.0
asgiref==3.3.1
astroid==2.4.2
backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
decorator==4.4.2
distlib==0.3.1
Django==3.1.6
filelock==3.0.12
idna==2.10
ipython==7.15.0
ipython-genutils==0.2.0
isort==5.6.4
jedi==0.17.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pygame==2.0.0.dev8
Pygments==2.6.1
pylint==2.6.0
pytz==2021.1
requests==2.25.1
simple-draw==2.6.8
simplegeneric==0.8.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
traitlets==4.3.3
urllib3==1.26.4
virtualenv==20.2.2
wcwidth==0.2.4
wrapt==1.12.1
