<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %}

    Index page

{% endblock %}

{% block content_title %}
    <h1 class="mt-5">Main page</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 mt-2">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, ea sit quibusdam ullam voluptas incidunt 
                    amet sapiente nemo architecto! Ratione sequi quod expedita veritatis quas voluptatem modi autem labore ab.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptatibus harum, quos, deserunt officiis 
                    omnis consequuntur, quidem ipsum labore ipsa nemo. Reprehenderit sapiente quo ipsum quod illum repudiandae quaerat amet.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptatibus harum, quos, deserunt officiis 
                    omnis consequuntur, quidem ipsum labore ipsa nemo. Reprehenderit sapiente quo ipsum quod illum repudiandae quaerat amet.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptatibus harum, quos, deserunt officiis 
                    omnis consequuntur, quidem ipsum labore ipsa nemo. Reprehenderit sapiente quo ipsum quod illum repudiandae quaerat amet.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptatibus harum, quos, deserunt officiis 
                    omnis consequuntur, quidem ipsum labore ipsa nemo. Reprehenderit sapiente quo ipsum quod illum repudiandae quaerat amet.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptatibus harum, quos, deserunt officiis 
                    omnis consequuntur, quidem ipsum labore ipsa nemo. Reprehenderit sapiente quo ipsum quod illum repudiandae quaerat amet.
                </p>
            </div>
            <div class="col-md-4 ms-md-auto">
                <img src="static/images/flask-logo-44C507ABB7-seeklogo.com.png" alt="flask">
            </div>
        </div>
    </div>
{% endblock %}